# @Author: Roxy Chen
# @Date:   2016-08-07T22:16:08+08:00
# @Last modified by:   VanitaxMacbookPro
# @Last modified time: 2016-08-17T17:36:00+08:00
# @License: Copyright (c) by Giftpack Inc. All Rights Reserved.



{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [1, "single"],
    "strict": [1, "never"],
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 1,
    "babel/no-await-in-loop": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2
  },
  "plugins": [
    "babel",
    "react"
  ]
}
